{
    "mcpServers": {
      "filesystem": {
        "command": "npx",
        "args": [
          "-y",
          "@modelcontextprotocol/server-filesystem",
          "/Users/a1/work/cooragent/generated_projects"
        ]
      },
      "mcp-doc": {
        "command": "python",
        "args": ["/Users/a1/work/cooragent/src/tools/MCP-Doc/server.py"],
        "env": {}
      },
      "image-downloader": {
        "command": "node",
        "args": ["/Users/a1/work/cooragent/src/tools/mcp-image-downloader/build/index.js"],
        "env": {}
      }
    }
}
